.DS_Store
sphere/platforms/*
sphere/platforms/android/assets/www
sphere/platforms/android/bin
sphere/platforms/android/gen
sphere/platforms/android/.gradle
sphere/platforms/android/local.properties
sphere/platforms/android/ant-build
sphere/platforms/android/ant-gen
sphere/platforms/android/CordovaLib/ant-build
sphere/platforms/android/CordovaLib/ant-gen
sphere/platforms/android/CordovaLib/bin
sphere/platforms/android/CordovaLib/gen
sphere/platforms/android/CordovaLib/local.properties
sphere/platforms/browser
sphere/www/img/*.mp4
*~
*.swp

*.aar

sphere/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/merger.xml

sphere/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugShaders/merger.xml

sphere/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml

sphere/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugAssets/merger.xml

sphere/platforms/android/CordovaLib/build/intermediates/bundles/debug/classes.jar

sphere/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties

sphere/platforms/android/CordovaLib/build/intermediates/bundles/debug/classes.jar
