doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='manifest', href='manifest.json')
    script(type='text/javascript', src='javascripts/jquery-3.1.0.min.js')
    script(type='text/javascript', src='javascripts/socket.io.js')
    script(type='text/javascript', src='javascripts/main.js')
  body
    block content
