<h1>Movie Control Page </h2>

</br>
</br>
<button id="play">Play Movie</button></br>
</br>
</br>
<button id="pause">Pause Movie</button></br>
</br>
</br>
<button id="send-params">Update Parameter File</button></br>
</br>
</br>
<button id="hide-debug">Hide Debug</button></br>
</br>
</br>
<button id="refresh">Refresh</button></br>
</br>
</br>
<button id="sleep">Sleep</button></br>
</br>
</br>

<script src="js/movieremote.js"></script>
