<h1>Movie Control Page </h2>

</br>
</br>
<button id="send-params">Update Parameter File</button></br>
</br>
</br>
<button id="update">New APK</button></br>
</br>
</br>
<div class="slider-wrapper">
    <input id="rotation-slider" type="range" min="1" max="39000" step="1" value="1">
</div>

<script src="js/movieremote.js"></script>
<link rel="stylesheet" href="stylesheets/debug.css">

