<h1>Movie Control Page </h2>

<button id="play-btn">Play</button></br>
<button id="pause-btn">Pause</button>
</br>
</br>
<button id="send-params">Update Parameter File</button>
<button id="hide-debug">Hide Debug</button>
<button id="toggle-dark">Toggle Display</button>

<script src="js/movieremote.js"></script>
